/* 
*{
    background-color: aqua;
} */
.container-fluid{
    /* border: 5px solid black; */
    
}
.row{
    /* border: 5px solid black; */
}
.an{
    align-items:flex-end ;
    text-align-last: right;
    
}
#nav{
    text-decoration: none;
    padding: 5px;
    color: #000;
    
}
#nav img{
    height: 25px;
}
.image{
    align-items: center;
    padding-top: 3%;
    padding-left: 40%;
}
.image img{
    height: 92px;
}

.main-search{
    padding-left: 30%;
    padding-top: 20px;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background-image: url(https://img.icons8.com/material-rounded/24/000000/search.png);
}

.search {
    position: relative;
    width: 600px;
    height: 30px;
}

.submit{
    padding-left: 40%;
    padding-top: 2%;
    margin: 10px;
    
}
.c1{
    background-color:#f8f8ff
    /* padding: 10px; */
    /* margin: 10px; */
}
.c2{
    background-color:#f8f8ff
    /* padding: 10px; */
    /* margin: 10px; */
}